
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.obj
Debug/stdafx.obj
Debug/stdafx.obj
Debug/unittest1.obj
Debug/vc120.pdb
Debug/UnitTest_pfd.tlog/link.read.1.tlog
Debug/UnitTest_pfd.tlog/CL.read.1.tlog
Debug/stdafx.obj
Debug/unittest1.obj
Debug/vc120.idb